*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(245, 245, 245);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.game{
    margin: 3vw 4vw;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.main-container{
    margin: 0 2vw;
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
}

.box{
    /* background-color: rgb(72, 203, 255); */
    font-size: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
}
.box:hover{
    background-color: rgb(235, 235, 235);
}
.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}

/* Info container  styling*/
.info-container{
    padding: 0 34px;
}